* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Common Styles */
.section-title {
    font-weight: 700;
    font-size: 65px;
    color: #131313;
}

.section-sub-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.description {
    margin-top: 24px;
    font-size: 18px;
    line-height: 26px;
    color: #727272;
}
.section-button {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 21px 25px;
    color: #fff;
    border: 0;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
}
a {
    text-decoration: none;
}


/* Header Section's style */
.header-section {
    padding: 50px 240px 45px 240px;
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>h2 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
}

.nav-items {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 75px;
    color: #424242;
}


/* Main Section's Style  */
.main-section {
    margin-top: 100px;
}
.text-content {
    text-align: center;
}
.banner img {
    width: 100%;
    margin-top: 50px;
}


/* Features Section's Style */
.features-section {
    margin: 85px 301px 130px 301px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.feature-content {
    padding-left: 75px;
}
.feature-content .gray-text {
    color: #727272;
}
.feature-content .orange-text {
    color: #FF900E;
}


/* ---------------------
        Responsive For Small Devices
                --------------------- */
@media only screen and (max-width:576px) {
    /* Header Section's style */
    .header-section {
        padding: 50px 30px;
    }
    .navbar, .nav-list {
        flex-direction: column;
        row-gap: 18px;
    }
    .nav-item {
        margin-left: 0;
    }
    /* Features Section's Style */
    .features-section {
        margin: 65px 30px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content {
        padding-left: 0;
        margin-bottom: 50px;
    }
}


/* ---------------------
        Responsive For Medium Devices
                --------------------- */
@media only screen and (min-width:577px) and (max-width:992px) {
    /* Header Section's style */
    .header-section {
        padding: 50px 80px;
    }
    .nav-item {
        margin-left: 35px;
    }
    /* Features Section's Style */
    .features-section {
        margin: 65px 30px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-content {
        padding-left: 0;
        margin-bottom: 50px;
    }
}